<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8068/LogService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogService" contract="LogServiceReference.ILogService"
                name="BasicHttpBinding_ILogService" />
    </client>
  </system.serviceModel>
</configuration>